# Сборка CMake
build/
CMakeFiles/
CMakeCache.txt
*.o
*.obj
*.exe

# IDE
.vscode/
.idea/
*.user

# Conan
conanbuildinfo.cmake
conaninfo.txt
*.lock

# Python
.venv/
__pycache__/
*.pyc

# Docker
*.tar